*{margin: 0;padding: 0;box-sizing: border-box;font-family: fantasy;  color: #FFF;
    scroll-snap-align:inherit;scroll-behavior: smooth;}

 
.gallary{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  
}
.box{
    position: relative;
    width: 200px!important;
    height: 300px!important;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
/* .box div:hover img{ */
    /* transform:translateY(-50px) scale(1.2); */
/* } */
@keyframes rotate {
        0%{transform:perspective(1000px) rotateY(0deg) ;}
        100%{transform:perspective(1000px) rotateY(360deg) ;}
}
.box div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--v) * 45deg)) translateZ(350px);
  
}
.box div img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit:cover;
    transition: 10s all ease;
}
.box div:hover.spin{
    animation: spin 50s linear infinite;
}
@keyframes spin {
    0%{transform:perspective(1000px) rotateY(0deg) ;}
    100%{transform:perspective(1000px) rotateY(360deg) ;}
}

.some{
    width: 100vw;
    height: 100vh;
    overflow: hidden!important;
}

.other{
    width: 100%;
    margin: auto;
}
.other img{
    width:50%;
    overflow: hidden;
    margin: auto;
    
}